.flex-container{ 
	display: inline-flex;
	flex-flow: row wrap
	justify-content:space-evenly;
	width:20%;
}

table{
	display: inline;
	margin:15px;
}
table >{
  border: 5px double black;
}